.innerBox{
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
}
body{
    background-color: #041757;
}


/* header */
header{position: relative; width: 100%;  overflow: hidden;}
.media{width: 100vw; display: none;}
.media>img{width: 100%;}
.media::after{content: "";display: block;width: 100%; height: 100%; position: absolute; top: 0; left: 0;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#041757+0,041757+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(4,23,87,0) 0%, rgba(4,23,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,23,87,0) 0%,rgba(4,23,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,23,87,0) 0%,rgba(4,23,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00041757', endColorstr='#041757',GradientType=0 ); /* IE6-9 */
    }
.videoWrap{position: relative; }
.videoWrap::after{content: "";display: block;width: 100%; height: 100%; position: absolute; top: 0; left: 0;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#041757+0,041757+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(4,23,87,0) 0%, rgba(4,23,87,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,23,87,0) 0%,rgba(4,23,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,23,87,0) 0%,rgba(4,23,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00041757', endColorstr='#041757',GradientType=0 ); /* IE6-9 */
    }
video{width: 100%;}
header h1{position: absolute;top: .9375rem;left: .9375rem;width: 9.375rem;height: 8.125rem;}
header h1 img{ width: 100%;}
header .tit{position: absolute; color: white; font-size: 4.5rem; font-family: 'Franklin Gothic Heavy';line-height: 1.3; top: 15.625rem;left: 10%;}
header .oper{width: 21.25rem;height: 3.75rem;color: white;background-color: rgba(0, 0, 0,0.6);position: absolute;text-align: center;line-height: 3.75rem;font-size: 1.5rem;font-family: 'Roboto';z-index: 100;top: 31.25rem;left: 10%;}
#nav{ width: 68%;height: auto;font-family: 'Myriad Pro'; display: flex;text-align: center; position: absolute; top: 1.875rem; right: 0; justify-content: flex-end}
#nav>li{}
#nav>li:last-child{margin-right: 0;}
#nav>li>a{font-size: 1rem;font-weight: bold;line-height: 2.3;color: white; text-shadow: 0 0 5px rgba(0, 0, 0, 0.8); display: block; padding: .9375rem 1.875rem; }
#nav>.active>a{color:#f8c51c}
#nav a:hover{color: #f8c51c;}
.sub{font-size: .8rem;line-height: 1.8; display: none;background-color: rgba(0, 0, 0,0.8); }
.sub>li{line-height: 2;}
.sub>li:last-child{padding-bottom: .625rem;}
.sub a{color: white;}
.ham{position: absolute; z-index: 100000; right: 1.25rem; top: 1.25rem;display: none;}

/* container */
#container{padding-top: 6.25rem;}
section>h2{font-size: 8rem; font-family: 'Franklin Gothic Heavy';color: #e8e8e8;letter-spacing: 1.25rem;text-align: center;margin-bottom: 3.125rem;}

/* zone */
.zoneWrap{position: relative; margin: 12.5rem 0 25rem; }
.zoneWrap .innerBox{max-width: 1200px; overflow: hidden; padding: 50px 0 ;}
.zoneWrap>h2{position: absolute; top: -15.625rem; left: 50%; transform: translateX(-50%); z-index: 100;}
.zone {display: flex; position: relative; width: calc(100% * 13 / 5);}
.zone>li{padding: .625rem; width: calc(100% / 5) ; transition: 0.7s;box-sizing: border-box;}
.zone>.active{position: relative; top: -0.3125rem; z-index: 10; transform:  scale(1.3);}
.zone>li img{width: 100%;}
.arrow>li{position: absolute; width: 5.8%; top: 40%; z-index: 100;}
.arrow .left_arrow{ left: 0;}
.arrow .right_arrow{transform: rotate(180deg);right: 0;}

/* animals */
.animalWrap{margin-bottom: 25rem; position: relative; }
.animalWrap>h2{position: absolute; top: -16.25rem;left: 50%; transform: translateX(-50%); z-index: 100;}
.animal_both{display: flex; overflow: hidden;}
.left_animal{margin-right: 1.875rem;}
.left_animal>.up{background: url(../images/animals/back0.jpg);width: 41.6%; height: 97%;background-size: 100%; position: absolute; left: 0;top: 0; z-index: 1;}
.left_animal>.under{background-color: #010b2b; width: 31.25rem; height: 31.25rem;position: relative; left: 3%; top: 3%;}
.left_animal .animal{width: 37.125rem;height: 18.8125rem;position: absolute;top: 4.375rem;right: -10.625rem;}
.left_animal .animal>img{width: 100%;}
.right_animal{position: relative;width: 60%;padding-left: 20px;}
.right_animal>.animal_ex{width: 100%;}
.right_animal>.animal_ex>li{display: none; position: absolute; width: 82%;}
.right_animal>.animal_ex>li:first-child{display: block;}
.right_animal>.animal_ex h3{font-family: 'Myriad Pro'; font-weight: bold; font-size: 2.1875rem;letter-spacing: .001rem;position: absolute;color: white;right: 0;}
.right_animal>.animal_ex p{font-family: 'Myriad Pro';font-size: .875rem; line-height: 2.3; position: relative; top: 5.625rem; left: 11.25rem;color: white;}
.right_animal .more>a{position: absolute; left: 11.25rem; bottom: 38%; font-family: 'Myriad Pro'; font-weight: bold; color: #f8c51c; font-size: 1.25rem; text-align: center;}

.animalWrap2{position: absolute; bottom: 0; overflow: hidden;}
.right_animal .animals{display: flex; padding-top: 2.1875rem;  width: calc(100% * 7 / 4);}
.right_animal .animals .active {position: relative;}
.right_animal .animals .active span{background: #e8e8e8; width: 8.125rem;height: 8.125rem;border-radius: 50%;position: absolute; left: 1.25rem; bottom: 1.3125rem; z-index: -1;}
.right_animal .animals>li img{width: 100%;}
.right_animal .animals>li{width: calc(100% / 7); }
.pagerWrap{width: 80%;height: .225rem;background-color: #e8e8e8;position: absolute;border-radius: .3125rem; bottom: .3125rem; left: 12%;}
.pagerWrap>.pager{width: 14.2%;position: absolute;  height: .625rem;background-color: #f8c51c; border-radius: .3125rem; bottom: -0.25rem;}
.animalArrow>li{position: absolute; width: 5%; top: 40%; z-index: 100; display: none;}
.animalArrow .animal_left{ left: -10px;}
.animalArrow .animal_right{transform: rotate(180deg);right: -10px;}

/* review */
.reviewWrap{margin-bottom: 25rem; position: relative;}
.reviewWrap>h2{position: absolute; top: -15.625rem; left: 50%; transform: translateX(-50%);}
.review_up>li{float: left;margin-left: 1.05%; }
.reviewWrap li:first-child{margin-left: 2.11%; transition: 0.3s;}
.review_up>li img{width: 100%;}
.review_up>.left1_up{width: 17.73%;}
.review_up>.left2_up{width: 17.89%;}
.review_up>.middle_up{width: 23.74%;}
.review_up>.right2_up{width: 14.3%;}
.review_up>.right1_up{width: 17.89%;}
.reviewWrap li{transition: 0.3s;}
.reviewWrap li:hover{transform: scale(1.05); box-sizing: border-box; filter: brightness(60%);}

.review_bottom{position: relative;}
.review_bottom>li:first-child{float: left;margin-left: 2.11%; margin-top: 0.9%;}
.review_bottom>li img{width: 100%;}
.review_bottom>.left1_bottom{width: 17.73%;}
.review_bottom>.left2_bottom{width: 17.89%;position: absolute;left: 20.85%; top: -80%;}
.review_bottom>.middle_bottom{width: 23.74%;position: absolute;left: 39.8%; top: -20%;}
.review_bottom>.right2_bottom{width: 14.3%;position: absolute;left: 64.58%; top: -149%;}
.review_bottom>.right1_bottom{width: 17.89%;position: absolute;left: 80%;top: -81%;}

.moreReview{position: absolute; bottom: -5rem; left: 50%; transform: translateX(-50%);  color: #fff; background-color: #041757; font-family: 'Myriad Pro'; font-size: 1.125rem; margin-top: 1.875rem; transition: 0.5s; width: 13.5rem; height: 2.9375rem;}
.moreReview:hover{border: .125rem solid #041757; color: #041757; background-color: #fff;}

/* ticket */
.ticketWrap{margin-bottom: 13em; position: relative;}
.ticketWrap>h2{position: absolute; top: -15.625rem; left: 50%; transform: translateX(-50%);}
.ticket_both{display: flex; flex-shrink: 1;}
.ticket_left{background-image: url(../images/anotherArticle.jpg); background-size: 100%; width: 35vw; height: 35vw; background-repeat: no-repeat;position: absolute; top:0; left: 1.875rem; transition: 0.5s;overflow: hidden; }
.ticket_left:hover{background-size: 110%;background-position: center center; }
.ticket_left_back{background-color: rgba(0, 0, 0,0.4);width: 40vw;height: 100%;}
.ticket_left p>a{position: absolute;z-index: 10; color: #f8c51c; font-family: 'Franklin Gothic Heavy'; font-size: 2.5rem; text-align: center;left: 17%;top: 50%;transform: translateY(-50%);}
.ticket_right{margin-top: .9375rem; margin-left: 41vw; }
.ticket_right>h3{font-family: 'Myriad Pro';font-size: 3.125rem;color: #fff ;margin-bottom: 1.875rem;}
.ticket_right label{font-family: 'Myriad Pro'; font-size: 1rem;color: #fff;margin-bottom: .625rem; display: block;}
.ticket_right input{margin-bottom: 1.25rem; height: 1.875rem;background-color: #e8e8e8; border: none;}
.ticket_right #name{display: block;width: 78%;}
.ticket_right #date{display: block;width: 40%;}
.ticket_right .ticket_number{display: flex;justify-content: space-between;width: 80%;}
.ticket_right .ticket_number>li{margin-right: .875rem;}
.ticket_right .ticket_number input{width: 100%;}
.ticket_right .submit{display: block; width: 13.5rem; height: 2.9375rem; color: #fff; background-color: #041757; text-align: center; font-family: 'Myriad Pro'; font-size: 1.125rem; margin-top: 1.875rem; transition: 0.5s;}
.ticket_right #email{width: 78%;}
.ticket_right .submit:hover{border: .125rem solid #041757; color: #041757; background-color: #fff;}

/* contact */
.contactWrap{}
.contact{display: flex; justify-content: center;}
.contact>li{margin: 5%; position: relative; text-align: center;}
.contact>li img{margin-bottom: 1.25rem;}
.contact>li:first-child{position: relative;top: .625rem;}
.contact>li:first-child img {width: 3.875rem; height: 4rem;}
.contact>li:nth-child(2) img{width: 2.625rem;height: 5.0625rem;}
.contact>li:nth-child(3) {position: relative;top: .625rem;}
.contact>li:nth-child(3) img{width: 4.6875rem;height: 4.9375rem;}
.contact p{font-family: 'Franklin Gothic Heavy'; font-size: .9375rem; color: #fff; }


/* footer */
footer{width: 100%; background-color: #041757; color: white;}
footer a{color: white;}
.foot_top{display: flex;justify-content: space-around;padding-top: 1.875rem; margin-bottom: 2.5rem;}
.footLeft>img{width: 12.5rem;height: 12.5rem;}
.footLeft .footIcon{font-size: 1.5625rem; display: flex;justify-content: center; position: relative; top: -1.25rem; left: -0.625rem;}
.footLeft .footIcon>li{margin: .3125rem;}
.footLeft .footIcon>li>a:hover{color: #f8c51c;}

.footMiddle>h3{font-family: 'Myriad Pro';font-size: 1.875rem;margin-bottom: 1.25rem;}
.footMiddle p{font-family: 'Myriad Pro'; font-size: 1rem; line-height: 2.125rem; text-align: center;margin-left: -5rem;}

.footRight{font-family: 'Myriad Pro'; font-size: 1.1875rem; margin-top: .625rem;}
.footRight>li{margin-bottom: 1.25rem;}
.footRight>li>a:hover{color: #f8c51c;}

.foot_bottom{text-align: center; padding-bottom: 1.25rem;}
.foot_bottom>a:hover{color: #f8c51c;}